*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin-left: 20px;
    display: inline-block;
    padding: 5px;
}
main{
    width: 500px;
    margin-left: 30%;
    margin-top: 50px;
}
#Title{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    vertical-align:top;
    
}
.Principale{
    list-style-type: none; 
    font-weight: bold;
    font-size: 20px;
}
.Secondario{
    list-style-type: none; 
    margin-left: 10px;
    padding: 5px;
}
span{
    font-size: 10px;
    width: 20px;
}
#Sezione-iniziale{
    padding: 20px;
}
.First-Section-Class{
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.casella{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 5px;
}
.cross{
    color: red;
}
.font{
    color: green;
    background-color: white;
    border-radius: 50%;
}
#Task{
    width: 80px;
    background-color: lightblue;
    border: 0;
}

#Section{
    width: 100px;  
    border-style: solid;  
    border-color: gray;
}
.Generale-lista{
    padding: 20px;
}
#primo{
    background-color: purple;
}
#secondo{
    background-color: green;
}
#terzo{
    background-color: orange;
}